/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

/* ----------------- Global Section ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
}

/* ----------------- Navbar Section ---------------- */
.navbar {
  background-color: #fffbf7;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
  text-decoration: none;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

/* ----------------- Header Section ---------------- */
.header {
  margin-top: 285px;
  text-align: center;
}

.header h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
}

.header p {
  color: #46484c;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 72px;
}

/* ----------------- FAQ Section ---------------- */
.faq {
  margin-top: 50px;
  padding-bottom: 120px;
}

.faq h2 {
  color: #025157;
  font-family: "Alegreya", serif;
}

.faq h2 > button {
  color: #025157;
  font-size: 28px;
  font-weight: 900;
}

.faq .accordion-header {
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.faq .accordion .accordion-body a {
  color: #6abf4b;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .actions,
  .navbar {
    text-align: center;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  .actions,
  .navbar {
    text-align: center;
  }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .actions,
  .navbar {
    text-align: center;
  }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}
