/** main.scss */
@use "global" as *;

/* -------------------------- Blog Section -------------------------- */
.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin: 40px 0 36px 0;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button {
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.25rem;

      .card-title {
        font-size: 24px;
        color: $gray;
      }

      .metadata {
        font-weight: 500;
        font-size: 14px;
        color: $light-gray;

        .category {
          color: $light-green;
        }

        .read-time {
          color: $light-gray;
        }
      }

      .card-text {
        color: $gray;
        font-size: 18px;
        line-height: 1.5em;
        min-height: 6em;

        .read-more a {
          text-decoration: underline;
        }
      }

      .author {
        align-items: center !important;
        display: flex !important;

        img {
          vertical-align: middle;
          border-style: none;
          border-radius: 50%;
          width: 35px;
          height: 35px;
        }

        p {
          margin-top: 15px;
          margin-bottom: 1rem;
          margin-left: 8px;
          font-weight: 600;
          font-size: 14px;
          color: #4a4a4a;
        }
      }
    }
  }
}
